{% extends "header.html" %}

{% block content %}
	<div class="intro">
	<h7 >To submit a request to Toronto Cat Rescue, fill out the form below or add multiple cats by importing a <h7-underline>Google Sheet</h7-underline>, <h7-underline>Excel file</h7-underline>, or <h7-underline>CSV file</h7-underline>.</h7></div>
	<form action="" method="post" enctype="multipart/form-data" novalidate >
		{{ form.hidden_tag() }}
		{{ form.csrf_token }}
		<!--<p>
			{{ form.date.label }}
			{{ form.date(size=32) }}
		</p> -->
		<p>
			{{ form.petpoint_id.label }}
			{{ form.petpoint_id(size=80) }}
		</p>
		<p>
			{{ form.outcome.label }}
			{{ form.outcome(size=80) }}
		</p>
		<p>
			{{ form.intake_date.label }}
			{{ form.intake_date(size=80) }}
		</p>
		<p>
			{{ form.foster_placement_date.label }}
			{{ form.foster_placement_date(size=80) }}
		</p>
		<p>
			{{ form.location.label }}
			{{ form.location(size=80) }}
		</p>
		<hr class="style1">
		<p>
			{{ form.shelter_name.label }}
			{{ form.shelter_name(size=80) }}
		</p>
		<p>
			{{ form.shelter_id.label }}
			{{ form.shelter_id(size=80) }}
		</p>
		<p>
			{{ form.name.label }}
			{{ form.name(size=80) }}
		</p>
		<p>
			{{ form.date_of_birth.label }}
			{{ form.date_of_birth(size=80) }}
		</p>
		<p>
			{{ form.age.label }}
			{{ form.age(size=32) }}
		</p>
		<p>
			{{ form.sex.label }}
			{{ form.sex(size=2) }}
		</p>		
		<p>
			{{ form.sn.label }}
			{{ form.sn(size=2) }}
		</p>
		<p>
			{{ form.description.label }}
			{{ form.description(size=80) }}
		</p>
		<p>
			{{ form.photo.label }}
		<div class="drag-drop">{{ form.photo }}
		</div></p>
		<p>
			{{ form.medical_documents.label }}
		<div class="drag-drop">	{{ form.medical_documents }}
		</div></p>
		<p>
			{{ form.fiv_tested.label }}
			{{ form.fiv_tested(size=3) }}
		</p>
		<p>
			{{ form.flv_tested.label }}
			{{ form.flv_tested(size=3) }}
		</p>
		<p>
			{{ form.fvrcp_vaccination_date.label }}
			{{ form.fvrcp_vaccination_date(size=80) }}
		</p>
		<p>
			{{ form.rabies_vaccination_date.label }}
			{{ form.rabies_vaccination_date(size=80) }}
		</p>
		<p>
			{{ form.medical_notes.label }}
			{{ form.medical_notes(size=80) }}
		</p>
		
		<p>
			{{ form.behaviour_notes.label }}
			{{ form.behaviour_notes(size=80) }}
		</p>
		<p>
			<label class="form.urgent">
    		<input type="checkbox">
    		<span class="label-body">Urgent</span>
  			</label>

  			{{ form.urgent.label }}
			{{ form.urgent() }}
			
		</p>
		<p>
			{{ form.foster_coordinator.label }}
			{{ form.foster_coordinator(size=80) }}
		</p>
		<p>
			{{ form.foster_parent.label }}
			{{ form.foster_parent(size=80) }}
		</p>
		<p style="position: absolute; right: 0;"><input id="submit" name="submit" type="submit" value="Save & Add New"></p>
	</form>
{% endblock %}



<!-- 
date = DateField('Date', format='%Y-%m-%d')
name = StringField('Cat Name', validators=[DataRequired()])
date_of_birth = DateField('Date of Birth', format='%Y-%m-%d')
age = StringField('Age')
sex = SelectField('Sex', choices=['M','F'], validators=[Required()])
description = TextAreaField('Description')
sn = SelectField('S/N', choices=['Yes','No'], validators=[Required()])
shelter_name = StringField('Shelter Name', validators=[DataRequired()])
shelter_id = StringField('Shelter ID', validators=[DataRequired()])
photo = FileField('Cat Photo', validators=[FileRequired()])
fiv_tested = SelectField('FIV Tested', choices=['Tested Positive', 'Tested Negative', 'Not Tested'], validators=[Required()])
flv_tested = SelectField('FLV Tested', choices=['Tested Positive', 'Tested Negative', 'Not Tested'], validators=[Required()])
fvrcp_vaccination_date = DateField('FVRCP Vaccination Date', format='%Y-%m-%d')
rabies_vaccination_date = DateField('Rabies Vaccination Date', format='%Y-%m-%d')
medical_notes = TextAreaField('Medical Notes')
medical_documents = FileField('Medical Documents', validators=[FileRequired()])
behaviour_notes = TextAreaField('Behaviour Notes')
#INTAKE
petpoint_id = StringField('Petpoint ID', validators=[DataRequired()])
outcome = TextAreaField('Entered into TCR program, euthanized, etc.')
intake_date = DateField('Intake Date', format='%Y-%m-%d')
#FOSTER HOME
foster_placement_date = DateField('Placement Date', format='%Y-%m-%d')
location = SelectField('Location', choices=['Tested Positive', 'Tested Negative', 'Not Tested'], validators=[Required()])

submit = SubmitField('Submit')
 -->