{% extends "header.html" %}

{% block content %}
<div class="intro">To submit a request to Toronto Cat Rescue, fill out the form below or add multiple cats by importing
	a <span class="underline">Google Sheet</span>, <span class="underline">Excel file</span>, or <span class="underline">CSV
		file</span>.</div>
<form action="" method="post" enctype="multipart/form-data" novalidate>
	{{ form.hidden_tag() }}
	{{ form.csrf_token }}
	<!--<div class="row form-element">
			{{ form.date.label }}
			{{ form.date(size=32) }}
		</div> -->
	<div class="row form-element">
		<div class="ten columns">
			{{ form.petpoint_id.label }}
			{{ form.petpoint_id() }}
		</div>
	</div>
	<div class="row form-element">
		<div class="ten columns">
			{{ form.outcome.label }}
			{{ form.outcome() }}
		</div>
	</div>
	<div class="row form-element">
		<div class="ten columns">
			{{ form.intake_date.label }}
			{{ form.intake_date() }}
		</div>
	</div>
	<div class="row form-element">
		<div class="ten columns">
			{{ form.foster_placement_date.label }}
			{{ form.foster_placement_date() }}
		</div>
	</div>
	<div class="row form-element">
		<div class="ten columns">
			{{ form.location.label }}
			{{ form.location() }}
		</div>
	</div>
	<div class="row">
		<div class="ten columns">
			<hr class="style1">
		</div>
	</div>

	<div class="row form-element">
		<div class="ten columns">
			{{ form.shelter_name.label }}
			{{ form.shelter_name() }}
		</div>
	</div>
	<div class="row form-element">
		<div class="ten columns">
			{{ form.shelter_id.label }}
			{{ form.shelter_id() }}
		</div>
	</div>
	<div class="row form-element">
		<div class="ten columns">
			{{ form.name.label }}
			{{ form.name() }}
		</div>
	</div>
	<div class="row form-element">
		<div class="ten columns">
			{{ form.date_of_birth.label }}
			{{ form.date_of_birth() }}
		</div>
	</div>
	<div class="row form-element">
		<div class="ten columns">
			{{ form.age.label }}
			{{ form.age() }}
		</div>
	</div>
	<div class="row form-element">
		<div class="ten columns">
			{{ form.sex.label }}
			{{ form.sex() }}
		</div>
	</div>
	<div class="row form-element">
		<div class="ten columns">
			{{ form.sn.label }}
			{{ form.sn() }}
		</div>
	</div>
	<div class="row form-element">
		<div class="ten columns">
			{{ form.description.label }}
			{{ form.description() }}
		</div>
	</div>
	<div class="row form-element">
		<div class="ten columns">
			{{ form.photo.label }}
			<div class="drag-drop">{{ form.photo }}
			</div>
		</div>
	</div>
	<div class="row form-element">
		<div class="ten columns">
			{{ form.medical_documents.label }}
			<div class="drag-drop"> {{ form.medical_documents }}
			</div>
		</div>
	</div>
	<div class="row form-element">
		<div class="ten columns">
			{{ form.fiv_tested.label }}
			{{ form.fiv_tested() }}
		</div>
	</div>
	<div class="row form-element">
		<div class="ten columns">
			{{ form.flv_tested.label }}
			{{ form.flv_tested() }}
		</div>
	</div>
	<div class="row form-element">
		<div class="ten columns">
			{{ form.fvrcp_vaccination_date.label }}
			{{ form.fvrcp_vaccination_date() }}
		</div>
	</div>
	<div class="row form-element">
		<div class="ten columns">
			{{ form.rabies_vaccination_date.label }}
			{{ form.rabies_vaccination_date() }}
		</div>
	</div>
	<div class="row form-element">
		<div class="ten columns">
			{{ form.medical_notes.label }}
			{{ form.medical_notes() }}
		</div>

	</div>

	<div class="row form-element">
		<div class="ten columns">
			{{ form.behaviour_notes.label }}
			{{ form.behaviour_notes() }}
		</div>
	</div>
	<div class="row form-element">
		<label class="form.urgent">
			<input type="checkbox">
			<span class="label-body">Urgent</span>
		</label>
	</div>
	<div class="row form-element">
		<div class="ten columns">
			{{ form.foster_coordinator.label }}
			{{ form.foster_coordinator(size=80) }}
		</div>
	</div>
	<div class="row form-element">
		<div class="ten columns">
			{{ form.foster_parent.label }}
			{{ form.foster_parent(size=80) }}
		</div>
	</div>
	<div class="row form-element">
		<div class="three columns u-pull-right">
			<input id="submit" name="submit" type="submit" value="Save & Add New">
		</div>
	</div>
</form>
{% endblock %}



<!-- 
date = DateField('Date', format='%Y-%m-%d')
name = StringField('Cat Name', validators=[DataRequired()])
date_of_birth = DateField('Date of Birth', format='%Y-%m-%d')
age = StringField('Age')
sex = SelectField('Sex', choices=['M','F'], validators=[Required()])
description = TextAreaField('Description')
sn = SelectField('S/N', choices=['Yes','No'], validators=[Required()])
shelter_name = StringField('Shelter Name', validators=[DataRequired()])
shelter_id = StringField('Shelter ID', validators=[DataRequired()])
photo = FileField('Cat Photo', validators=[FileRequired()])
fiv_tested = SelectField('FIV Tested', choices=['Tested Positive', 'Tested Negative', 'Not Tested'], validators=[Required()])
flv_tested = SelectField('FLV Tested', choices=['Tested Positive', 'Tested Negative', 'Not Tested'], validators=[Required()])
fvrcp_vaccination_date = DateField('FVRCP Vaccination Date', format='%Y-%m-%d')
rabies_vaccination_date = DateField('Rabies Vaccination Date', format='%Y-%m-%d')
medical_notes = TextAreaField('Medical Notes')
medical_documents = FileField('Medical Documents', validators=[FileRequired()])
behaviour_notes = TextAreaField('Behaviour Notes')
#INTAKE
petpoint_id = StringField('Petpoint ID', validators=[DataRequired()])
outcome = TextAreaField('Entered into TCR program, euthanized, etc.')
intake_date = DateField('Intake Date', format='%Y-%m-%d')
#FOSTER HOME
foster_placement_date = DateField('Placement Date', format='%Y-%m-%d')
location = SelectField('Location', choices=['Tested Positive', 'Tested Negative', 'Not Tested'], validators=[Required()])

submit = SubmitField('Submit')
 -->