<html>
    <head>
      {% if title %}
      <title>{{ title }} - Catalist</title>
      {% else %}
      <title>Catalist</title>
      {% endif %}
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/catalist.css') }}">
    </head>
    <body>
        <div class="header">
            <div class="container">
                    <div><img src="{{ url_for('static', filename='img/logo.svg') }}" width="120px"></div>
            </div>
        </div>
        <div class="container body">
            <section class="header">
                
            </section>
            <hr>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>