{% extends "header.html" %}

{% block content %}
<div class="intro">To submit a request to Toronto Cat Rescue, fill out the form below or add multiple cats by importing a <span class="underline">Google Sheet</span>, <span class="underline">Excel file</span>, or <span class="underline">CSV file</span>.</div>
	<form action="" method="post" enctype="multipart/form-data" novalidate >
		{{ form.hidden_tag() }}
		{{ form.csrf_token }}
		<p>
			{{ form.date.label }}
			{{ form.date() }}
		</p>
		<p>
			{{ form.name.label }}
			{{ form.name() }}
		</p>
		<p>
			{{ form.date_of_birth.label }}
			{{ form.date_of_birth() }}
		</p>
		<p>
			{{ form.age.label }}
			{{ form.age() }}
		</p>
		<p>
			{{ form.sex.label }}
			{{ form.sex() }}
		</p>		
		<p>
			{{ form.photo.label }}
			{{ form.photo }}
		</p>
		<p>
			{{ form.description.label }}
			{{ form.description() }}
		</p>
		<p>
			{{ form.sn.label }}
			{{ form.sn() }}
		</p>
		<p>
			{{ form.shelter_name.label }}
			{{ form.shelter_name() }}
		</p>
		<p>
			{{ form.shelter_id.label }}
			{{ form.shelter_id() }}
		</p>
		<p>
			{{ form.fiv_tested.label }}
			{{ form.fiv_tested() }}
		</p>
		<p>
			{{ form.flv_tested.label }}
			{{ form.flv_tested() }}
		</p>
		<p>
			{{ form.fvrcp_vaccination_date.label }}
			{{ form.fvrcp_vaccination_date() }}
		</p>
		<p>
			{{ form.rabies_vaccination_date.label }}
			{{ form.rabies_vaccination_date() }}
		</p>
		<p>
			{{ form.medical_notes.label }}
			{{ form.medical_notes() }}
		</p>
		<p>
			{{ form.medical_documents.label }}
			{{ form.medical_documents }}
		</p>
		<p>
			{{ form.behaviour_notes.label }}
			{{ form.behaviour_notes() }}
		</p>
		<p>
			{{ form.urgent() }}
			{{ form.urgent.label }}
		</p>
		<p>{{ form.submit() }}</p>
	</form>
{% endblock %}



<!-- 
date = DateField('Date', format='%Y-%m-%d')
name = StringField('Cat Name', validators=[DataRequired()])
date_of_birth = DateField('Date of Birth', format='%Y-%m-%d')
age = StringField('Age')
sex = SelectField('Sex', choices=['M','F'], validators=[Required()])
description = TextAreaField('Description')
sn = SelectField('S/N', choices=['Yes','No'], validators=[Required()])
shelter_name = StringField('Shelter Name', validators=[DataRequired()])
shelter_id = StringField('Shelter ID', validators=[DataRequired()])
photo = FileField('Cat Photo', validators=[FileRequired()])
fiv_tested = SelectField('FIV Tested', choices=['Tested Positive', 'Tested Negative', 'Not Tested'], validators=[Required()])
flv_tested = SelectField('FLV Tested', choices=['Tested Positive', 'Tested Negative', 'Not Tested'], validators=[Required()])
fvrcp_vaccination_date = DateField('FVRCP Vaccination Date', format='%Y-%m-%d')
rabies_vaccination_date = DateField('Rabies Vaccination Date', format='%Y-%m-%d')
medical_notes = TextAreaField('Medical Notes')
medical_documents = FileField('Medical Documents', validators=[FileRequired()])
behaviour_notes = TextAreaField('Behaviour Notes')
#INTAKE
petpoint_id = StringField('Petpoint ID', validators=[DataRequired()])
outcome = TextAreaField('Entered into TCR program, euthanized, etc.')
intake_date = DateField('Intake Date', format='%Y-%m-%d')
#FOSTER HOME
foster_placement_date = DateField('Placement Date', format='%Y-%m-%d')
location = SelectField('Location', choices=['Tested Positive', 'Tested Negative', 'Not Tested'], validators=[Required()])

submit = SubmitField('Submit')
 -->