<!--WAITLIST-->
<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <title>Waitlist</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link href="{{ url_for('static', filename='css-database/normalize.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css-database/main.css')}}" rel="stylesheet">
  <script src="https://www.google.com/jsapi" type="text/javascript"></script>
</head>

<body id="background">
  <div id="box">
    <h1>Waitlist</h1>
    <h3>Select row to highlight</h3>
      <script src="{{ url_for('static', filename='js/google-sheets-html-waitlist.js') }}" type="text/javascript"></script>
    <div id="table">
    </div>
     <br>
    <button>BACK</button>
  </div>
</body>
</html>

<style>

.card-container{
  display: grid;
  grid-template-columns: 150px 1fr 2fr;
  grid-gap: 10px;
  max-width: 60%;
  background-color: #fff;
  color: #444;
  font-size: 14px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(186,186,186,0.5);
  -moz-box-shadow: 0px 2px 2px 0px rgba(186,186,186,0.5);
  box-shadow: 0px 2px 2px 0px rgba(186,186,186,0.5);
}

</style>